@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,600,600i,700,700i&display=swap');
@import '../node_modules/normalize.css/normalize.css';

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9faf9;
}
